#intro-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  width: 75%;
  height: 85%;
  color: white;
  overflow: hidden;
  #intro-video {
    width: 100%;
    height: auto;
    display: block;
  }
  .intro-list {
    list-style: "✔  ";
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
