#roomlist-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  #rooms-container {
    display: flex;
    flex-direction: row;
  }
  .room {
    border: 0;
    border-radius: 32px;
    margin-right: 1rem;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover,
    &:focus {
      border-radius: 32px;
      background: #fafafa;
      box-shadow: 20px 20px 41px #cfcfcf, -20px -20px 41px #ffffff;
    }
  }
  .icon {
    width: 48px;
    height: 48px;
    color: grey;
  }
}
