#roomlist-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  .room {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon {
    width: 48px;
    height: 48px;
    color: grey;
  }
}
