$timer-height: 100px;
$sendBtn-height: 64px;
$navbar-height: 64px;
$sidebar-width: 300px;

#whiteboard {
  overflow: hidden;
  width: calc(100vw - #{$sidebar-width});
  height: calc(100vh - #{$navbar-height});
  display: flex;
  flex-direction: row;

  #drawingTools {
    position: absolute;
    left: 0;
    padding: 2rem 0;
    height: 100%;
    min-width: 64px;
    max-width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;

    #colorPalettes,
    #brush {
      z-index: 10;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      // box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      //   0 8px 16px -8px rgba(0, 0, 0, 0.3);
    }
    #brush {
      height: 240px;
      padding: 2rem 1.5rem;
      #slider {
        margin: 0.5rem;
      }
    }
    .drawingtoolsIcon {
      min-width: 36px;
      min-height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
    }
    #colorPalettes {
      width: 48px;
      height: 200px;
      #palettes {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        .color {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
#word {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  min-width: calc(100% - #{$sidebar-width});
  border: 1px dashed red;
  margin: auto;
  padding: 1rem;
  text-align: center;
}
#sidebar {
  position: absolute;
  right: 0;
  top: $navbar-height;
  width: $sidebar-width;
  height: 100%;
  background-color: lightgray;
  #status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $timer-height;
  }
  #chatbox {
    min-height: calc(100% - #{$timer-height} - #{$sendBtn-height});
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #messages {
      min-height: calc(100% - #{$sendBtn-height});
    }
    .systemMsg,
    .msg {
      margin-left: 1rem;
    }
    .systemMsg {
      font-weight: 500;
      color: green;
    }
    .msg {
      font-weight: 600;
    }
    #inputChat {
      padding: 1rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      #inputbox {
        display: flex;
        width: 240px;
      }
    }
  }
}
